.color-primary-0 { color: #058BB7 }	/* Main Primary color */
.color-primary-1 { color: #46A6C6 }
.color-primary-2 { color: #2196BD }
.color-primary-3 { color: #036686 }
.color-primary-4 { color: #024F69 }

* {
	box-sizing: border-box;
}

body {
	font-family: sans;
	background-color: #efefef;
	padding-top: 4em;
}

.note {
	padding: 3px;
}

.note p {
	color: #ddd;
	border: 2px solid;
	border-radius: 3px;
	background-color: #fff;
	padding: 2px;
	width: 100%;
	text-align: center;
	transition: color 0.5s ease-in-out;
}

.note.active p {
	color: #058BB7;
}

.note.current p {
	color: #fff;
	background-color: #058BB7;
	border-color: #058BB7;
}

#mode-chooser .columns {
	padding: 17px;
}

select {
	color: #024F69;
	color: #058BB7;
	font-family: sans;
	display: block;
	border: 2px solid;
	border-radius: 3px;
}

label {
	color: #024F69;
	color: #058BB7;
}

#player .large-6 {
	padding: 3px;
}

#play-button, #stop-button {
	border-radius: 3px;
	color: #024F69;
	color: #058BB7;
	background-color: transparent;
	padding: 5px;
	font-size: 1.5em;
}

#play-button.inactive, #stop-button.inactive {
	color: #bbb;
}
